autopep8==1.6.0
blinker==1.8.2
click==8.1.7
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mysqlclient==2.0.3
pycodestyle==2.8.0
python-dotenv==0.19.1
SQLAlchemy==2.0.30
toml==0.10.2
typing_extensions==4.11.0
Werkzeug==3.0.3
