<title>Lista de Productos</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="/add_products" method="POST">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="marca" placeholder="Marca">
        <input type="text" name="precio" placeholder="Precio">
        <button type="submit">Guardar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Precio</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.marca }}</td>
                <td>{{ producto.precio }}</td>
                <td>
                    <a href="/edit/{{ producto.id }}">Editar</a>
                    <a href="/delete/{{ producto.id }}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>