<!DOCTYPE html>
<html>
<head>
    <title>Registrarse</title>
    <style>
        /* Agrega aquí el estilo que desees */
    </style>
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="flash-message">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="{{ url_for('auth.register') }}" method="POST">
            <input type="text" name="username" placeholder="Nombre de Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Registrarse</button>
        </form>
        <a href="{{ url_for('auth.login') }}">Iniciar Sesión</a>
    </div>
</body>
</html>
